$black: #000000;
$darkgrey: #333;
$grey: #808080;
$lightgrey: #f7f7f7;
$white: #ffffff;

// Brand Colors
$cc-red: #e10000;
$cc-darkred: #b80000;
$cc-lightred: #ff3a3a;

// Borders
$border-grey: #e3e3e3;

// Misc Colors
$green: #3dd700;
