<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- For Android -->
    <link rel="manifest" href="/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- For iOS -->
    <link rel="apple-touch-icon" href="/img/launcher/chinglish-4x.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/launcher/chinglish-4x.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/launcher/chinglish-4x.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/launcher/chinglish-4x.png">
    <meta name="apple-mobile-web-app-title" content="Chinglish">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- Hide Browser Interface on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <title>Chinglish</title>
  </head>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
  <body>
    {{{body}}}
  </body>
</html>
